@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");

/*  */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* background-color: cornsilk; */
  font-family: "Raleway";
  text-align: center;
}
h1 {
  color: rgb(10, 10, 136);
  fallback: "";
}
h2 {
  color: #0f52ba;
}

